/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4600: #bf4600;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}
.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}
.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

/* Global */
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}

/* Utilities */
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  text-decoration: none;
  border-radius: 25px;
}
.button:hover {
  background-color: var(--color-febd69);
  color: #131921;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
  outline: none;
}


/* ================= HEADER ================= */
.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}
.header-upper {
  background-color: var(--color-131921);
}
/* Search */
.header-upper .form-control {
  border: none;
  border-radius: 4px 0 0 4px;
}
.header-upper .input-group-text {
  background-color: var(--color-febd69);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.header-upper .input-group-text svg {
  color: var(--color-131921);
  font-size: 16px;
}
/* Icons section */
.header-upper-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-upper-links a {
  text-decoration: none;
  color: white;
}
.header-upper-links img {
  width: 35px;
  height: 35px;
}
.header-upper-links p {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.2;
}
.header-upper-links .badge {
  width: fit-content;
}
/* Bottom header */
.header-bottom {
  background-color: var(--color-232f3e);
}
/* Menu layout */
.menu-bottom {
  display: flex;
  align-items: center;
}
.menu-bottom .dropdown button {
  background-color: var(--color-131921);
  border: none;
  font-size: 14px;
}
.menu-links {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-bottom .menu-bottom a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item:hover {
  background-color: transparent !important;
  color: var(--color-febd69) !important;
}
.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .menu-bottom a:hover,
.header-bottom .menu-bottom a.active {
  color: var(--color-febd69);
}

/* ================= END ================= */


/* ============ Footer Start ============ */

footer {
  background-color: var(--color-232f3e);
  color: white;
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}
/* ================= END ================= */


/* ========== Home page ========== */
.main-banner-content{
  top: 15%;
  left: 5%;
}
.main-banner-content h4{
  font-size: 18px;
  font-weight: 450;
  line-height: 24px;
  color: var(--color-bf4600);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5{
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
}
.main-banner-content p{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

.small-banner-content{
  top: 25%;
  left: 10%;
}
.small-banner-content h4{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4600);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5{
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  text-transform: none;
}
.small-banner-content p{
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}
.small-banner{
  width: 49%;
}
/* ================= END ================= */


/* ========= Home wrapper ========= */
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
/* ============== END ============== */


/* ========= Categories Sec ========= */
.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories > div > div {
  width: 60;
}
.categories > div {
  width: 24%;
  padding: 10px 10px 10px 20px;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-right: 1px solid var(--color-ededed);
}
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}
/* ============== END ============== */


/* ========= Blog Card ========= */
.blog-card {
  background-color: white;
  border-radius: 10px;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}
.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}
.blog-content h5{
  font-size: 18px;
  color: var(--color-131921);
}
.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}
/* ============== END ============== */


/* ========= Product Card ========= */
.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}
.product-card .product-image {
  height: 270px;
}
.product-card .product-details h6{
  color: var(--color-bf4600);
  font-size: 13px;
}
.product-card .product-image img{
  object-fit: contain;
}
.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-1c1c1b);
}
.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1c1b); 
}
/* IMAGE WRAPPER */
.product-image {
  position: relative;
  width: 100%;
  height: 260px;
}

/* BOTH IMAGES */
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  position: absolute;
  top: 0;
  left: 0;
}
.product-image img:last-child {
  opacity: 0;
}
.product-card:hover .product-image img:last-child {
  opacity: 1;
}
.product-card:hover .product-image img:first-child {
  opacity: 0;
}
.react-stars {
  display: flex !important;
  align-items: center;
  margin: 6px 0;
}
.react-stars svg {
  display: inline-block !important;
  width: 20px;
  height: 20px;
}
.product-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wishlist-icon {
  top: 10px;
  right: 10px;
  z-index: 2;
}
.action-bar {
  top: 40px;
  right: -40px;   
  transition: 0.3s;
}
.product-card:hover .action-bar {
  right: 10px;
}
.action-bar img,
.wishlist-icon img {
  width: 20px;
  cursor: pointer;
}
/* ============== END ============== */


/* ========= Special Product ========= */
.special-product-card {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}

.special-product-card img {
  width: 160px;
  height: auto;
  object-fit: contain;
}
.special-product-content {
  padding-left: 20px;
}
.special-product-content .title {
  font-size: 15px;
  color: var(--color-1c1c1b);
  margin-bottom: 8px;
}
.special-product-content .brand {
  font-size: 13px;
  color: var(--color-bf4600);
}
.special-product-content .price {
  margin: 10px 0;
}
.discount-till {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.discount-till .d-flex {
  align-items: center;
}
.prod-count p {
  margin-bottom: 4px;
  font-size: 14px;
}
.progress {
  width: 140px;
  height: 6px;
}

/* ============== END ============== */


/* ========= Famous wrapper ========= */
.famous-card {
  border-radius: 12px;
  overflow: hidden;
}
.famous-card img {
  border-radius: 12px;
}
.famous-content {
  margin-top: 12px;
 padding: 12px 8px 0;
}
.famous-content h5 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 7px;
  color: var(--color-232f3e); 
  text-transform: uppercase;
}
.famous-content h6 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 7px;
  color: #1c1c1b;
}
.famous-content p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555;
}
.famous-card {
  border-radius: 12px;
  background: #fff;
  padding: 15px;
}
.famous-img-wrapper {
  height: 220px;              
  display: flex;
  align-items: center;        
  justify-content: center;    
}
.famous-img-wrapper img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;        
}
/* ============== END ============== */


/* ========= Our Store ========= */
.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
}
.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}
.filter-card ul{
  list-style-type: none;
  font-size: 13px;
  line-height: 36px;
  color: var(--color-777777);
  cursor: pointer;
}
.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
}
/* ============== END ============== */
/* ========= Home wrapper ========= */
/* ============== END ============== */

