/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
}

/* Global */
body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* Utilities */
.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

/* Form */
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
  outline: none;
}


/* ================= HEADER ================= */

/* Top strip */
.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}

/* Upper header */
.header-upper {
  background-color: var(--color-131921);
}

/* Search */
.header-upper .form-control {
  border: none;
  border-radius: 4px 0 0 4px;
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.header-upper .input-group-text svg {
  color: var(--color-131921);
  font-size: 16px;
}

/* Icons section */
.header-upper-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-upper-links a {
  color: white;
}

.header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-upper-links p {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.2;
}

.header-upper-links .badge {
  width: fit-content;
}

/* Bottom header */
.header-bottom {
  background-color: var(--color-232f3e);
}

/* Menu layout */
.menu-bottom {
  display: flex;
  align-items: center;
}

/* Dropdown */
.menu-bottom .dropdown button {
  background-color: var(--color-131921);
  border: none;
  font-size: 14px;
}

/* Menu links */
.menu-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-bottom .menu-bottom a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item:hover {
  background-color: transparent !important;
  color: var(--color-febd69) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .menu-bottom a:hover,
.header-bottom .menu-bottom a.active {
  color: var(--color-febd69);
}

/* ================= END ================= */


/* ============ Footer Start ============ */

footer {
  background-color: var(--color-232f3e);
  color: white;
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}
/* ================= END ================= */
