* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* Utilities */
.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

/* Form */
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
  outline: none;
}

/* Header */
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}

.header-upper {
  background-color: var(--color-131921);
}

.header-upper .form-control {
  border: none;
  border-radius: 4px 0 0 4px;
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.header-upper .input-group-text svg {
  color: var(--color-131921);
  font-size: 16px;
}

/* Header icons */
.header-upper-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-upper-links a {
  color: white;
}

.header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-upper-links p {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.2;
}

/* Cart badge */
.header-upper-links .badge {
  width: fit-content;
}
