/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4600: #bf4600;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
}

/* Global */
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}

/* Utilities */
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  text-decoration: none;
  border-radius: 25px;
}

.button:hover {
  background-color: var(--color-febd69);
  color: #131921;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
  outline: none;
}


/* ================= HEADER ================= */

/* Top strip */
.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}

/* Upper header */
.header-upper {
  background-color: var(--color-131921);
}

/* Search */
.header-upper .form-control {
  border: none;
  border-radius: 4px 0 0 4px;
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.header-upper .input-group-text svg {
  color: var(--color-131921);
  font-size: 16px;
}

/* Icons section */
.header-upper-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-upper-links a {
  text-decoration: none;
  color: white;
}

.header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-upper-links p {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.2;
}

.header-upper-links .badge {
  width: fit-content;
}

/* Bottom header */
.header-bottom {
  background-color: var(--color-232f3e);
}

/* Menu layout */
.menu-bottom {
  display: flex;
  align-items: center;
}

/* Dropdown */
.menu-bottom .dropdown button {
  background-color: var(--color-131921);
  border: none;
  font-size: 14px;
}

/* Menu links */
.menu-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-bottom .menu-bottom a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item:hover {
  background-color: transparent !important;
  color: var(--color-febd69) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .menu-bottom a:hover,
.header-bottom .menu-bottom a.active {
  color: var(--color-febd69);
}

/* ================= END ================= */


/* ============ Footer Start ============ */

footer {
  background-color: var(--color-232f3e);
  color: white;
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}
/* ================= END ================= */


/* ========== Home page ========== */
.main-banner-content{
  top: 15%;
  left: 5%;
}
.main-banner-content h4{
  font-size: 18px;
  font-weight: 450;
  line-height: 24px;
  color: var(--color-bf4600);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5{
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
}
.main-banner-content p{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

.small-banner-content{
  top: 25%;
  left: 10%;
}
.small-banner-content h4{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4600);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5{
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  text-transform: none;
}
.small-banner-content p{
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}
.small-banner{
  width: 49%;
}
/* ================= END ================= */


/* ========= Home wrapper ========= */
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
/* ============== END ============== */


/* ========= Categories Sec ========= */
.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories > div > div {
  width: 60;
}
.categories > div {
  width: 24%;
  padding: 10px 10px 10px 20px;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-right: 1px solid var(--color-ededed);
}
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}
/* ============== END ============== */
/* ========= Home wrapper ========= */
/* ============== END ============== */
/* ========= Home wrapper ========= */
/* ============== END ============== */

